@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grid-pattern: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 0L0 0 0 40' fill='none' stroke='currentColor' stroke-width='1' opacity='0.2'/%3E%3C/svg%3E");
}
